In [1]:
# General imports
import numpy as np
import pandas as pd
import os, sys, gc, warnings, random

from sklearn import metrics
from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import LabelEncoder

from tqdm import tqdm

import math
warnings.filterwarnings('ignore')

In [2]:
########################### Helpers
#################################################################################
## -------------------
## Seeder
# :seed to make all processes deterministic     # type: int
def seed_everything(seed=0):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
## -------------------

In [3]:
########################### Vars
#################################################################################
SEED = 42
seed_everything(SEED)
LOCAL_TEST = False
TARGET = 'isFraud'

In [4]:
########################### DATA LOAD
#################################################################################
print('Load Data')
train_df = pd.read_pickle('../data/datatrain_transaction.pkl')

if LOCAL_TEST:
    test_df = train_df.iloc[-100000:,].reset_index(drop=True)
    train_df = train_df.iloc[:400000,].reset_index(drop=True)
    
    train_identity = pd.read_pickle('../data/train_identity.pkl')
    test_identity  = train_identity[train_identity['TransactionID'].isin(test_df['TransactionID'])].reset_index(drop=True)
    train_identity = train_identity[train_identity['TransactionID'].isin(train_df['TransactionID'])].reset_index(drop=True)
else:
    test_df = pd.read_pickle('../data/datatest_transaction.pkl')
    test_identity = pd.read_pickle('../data/test_identity.pkl')

Load Data

In [7]:
x = train_df.describe().T
x

,count,mean,std,min,25%,50%,75%,max
TransactionID,590540.0,3.282270e+06,1.704744e+05,2.987000e+06,3.134635e+06,3282269.50,3.429904e+06,3577539.0
isFraud,590540.0,3.499001e-02,1.837546e-01,0.000000e+00,0.000000e+00,0.00,0.000000e+00,1.0
TransactionDT,590540.0,7.372311e+06,4.617224e+06,8.640000e+04,3.027058e+06,7306527.50,1.124662e+07,15811131.0
TransactionAmt,590540.0,NaN,NaN,2.509766e-01,4.331250e+01,68.75,1.250000e+02,31936.0
ProductCD,590540.0,6.207190e+05,3.078302e+05,2.304600e+04,1.377850e+05,800657.00,8.006570e+05,800657.0
card1,590540.0,9.898735e+03,4.901170e+03,1.000000e+03,6.019000e+03,9678.00,1.418400e+04,18396.0
card2,581607.0,NaN,NaN,1.000000e+02,2.140000e+02,361.00,5.120000e+02,600.0
card3,588975.0,NaN,0.000000e+00,1.000000e+02,1.500000e+02,150.00,1.500000e+02,231.0
card4,588963.0,5.829868e+05,1.958135e+05,9.524000e+03,3.473860e+05,719649.00,7.196490e+05,719649.0
card5,586281.0,NaN,0.000000e+00,1.000000e+02,1.660000e+02,226.00,2.260000e+02,237.0
card6,588969.0,6.805518e+05,2.425545e+05,1.600000e+01,2.676480e+05,824959.00,8.249590e+05,824959.0
addr1,524834.0,NaN,NaN,1.000000e+02,2.040000e+02,299.00,3.300000e+02,540.0
addr2,524834.0,NaN,0.000000e+00,1.000000e+01,8.700000e+01,87.00,8.700000e+01,102.0
dist1,238269.0,NaN,NaN,0.000000e+00,3.000000e+00,8.00,2.400000e+01,10288.0
dist2,37627.0,inf,inf,0.000000e+00,7.000000e+00,37.00,2.060000e+02,11624.0
C1,590540.0,NaN,NaN,0.000000e+00,1.000000e+00,1.00,3.000000e+00,4684.0
C2,590540.0,NaN,NaN,0.000000e+00,1.000000e+00,1.00,3.000000e+00,5692.0
C3,590540.0,5.649567e-03,1.506348e-01,0.000000e+00,0.000000e+00,0.00,0.000000e+00,26.0
C4,590540.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,0.000000e+00,2252.0
C5,590540.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,1.000000e+00,349.0
C6,590540.0,NaN,NaN,0.000000e+00,1.000000e+00,1.00,2.000000e+00,2252.0
C7,590540.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,0.000000e+00,2256.0
C8,590540.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,0.000000e+00,3332.0
C9,590540.0,NaN,0.000000e+00,0.000000e+00,0.000000e+00,1.00,2.000000e+00,210.0
C10,590540.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,0.000000e+00,3256.0
C11,590540.0,NaN,NaN,0.000000e+00,1.000000e+00,1.00,2.000000e+00,3188.0
C12,590540.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,0.000000e+00,3188.0
C13,590540.0,NaN,NaN,0.000000e+00,1.000000e+00,3.00,1.200000e+01,2918.0
C14,590540.0,NaN,NaN,0.000000e+00,1.000000e+00,1.00,2.000000e+00,1429.0
D1,589271.0,NaN,NaN,0.000000e+00,0.000000e+00,3.00,1.220000e+02,640.0
...,...,...,...,...,...,...,...,...
V310,590528.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,1.079375e+02,55136.0
V311,590528.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,0.000000e+00,55136.0
V312,590528.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,0.000000e+00,55136.0
V313,589271.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,0.000000e+00,4816.0
V314,589271.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,0.000000e+00,7520.0
V315,589271.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,0.000000e+00,4816.0
V316,590528.0,1.098179e+02,2.269960e+03,0.000000e+00,0.000000e+00,0.00,0.000000e+00,93736.0
V317,590528.0,2.476003e+02,3.979808e+03,0.000000e+00,0.000000e+00,0.00,0.000000e+00,134021.0
V318,590528.0,1.621512e+02,2.792951e+03,0.000000e+00,0.000000e+00,0.00,0.000000e+00,98476.0
V319,590528.0,1.837295e+01,3.318374e+02,0.000000e+00,0.000000e+00,0.00,0.000000e+00,104060.0
V320,590528.0,4.207385e+01,4.732175e+02,0.000000e+00,0.000000e+00,0.00,0.000000e+00,104060.0
V321,590528.0,2.832717e+01,3.813282e+02,0.000000e+00,0.000000e+00,0.00,0.000000e+00,104060.0
V322,82351.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,0.000000e+00,880.0
V323,82351.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,1.000000e+00,1411.0
V324,82351.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,0.000000e+00,976.0
V325,82351.0,5.862427e-02,3.044434e-01,0.000000e+00,0.000000e+00,0.00,0.000000e+00,12.0
V326,82351.0,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.000000e+00,44.0
V327,82351.0,2.963867e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.000000e+00,18.0
V328,82351.0,3.369141e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.000000e+00,15.0
V329,82351.0,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.000000e+00,99.0
V330,82351.0,7.753906e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.000000e+00,55.0
V331,82351.0,7.217415e+02,6.217230e+03,0.000000e+00,0.000000e+00,0.00,0.000000e+00,160000.0
V332,82351.0,1.375779e+03,1.116952e+04,0.000000e+00,0.000000e+00,0.00,2.500000e+01,160000.0
V333,82351.0,1.014620e+03,7.955782e+03,0.000000e+00,0.000000e+00,0.00,0.000000e+00,160000.0
V334,82351.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,0.000000e+00,55136.0
V335,82351.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,0.000000e+00,55136.0
V336,82351.0,NaN,NaN,0.000000e+00,0.000000e+00,0.00,0.000000e+00,55136.0
V337,82351.0,5.535242e+01,6.683759e+02,0.000000e+00,0.000000e+00,0.00,0.000000e+00,104060.0
V338,82351.0,1.511605e+02,1.095058e+03,0.000000e+00,0.000000e+00,0.00,0.000000e+00,104060.0
V339,82351.0,1.007009e+02,8.149532e+02,0.000000e+00,0.000000e+00,0.00,0.000000e+00,104060.0

In [5]:
########################### Reset values for "noise" card1
valid_card = train_df['card1'].value_counts()
valid_card = valid_card[valid_card>10]
valid_card = list(valid_card.index)
    
train_df['card1'] = np.where(train_df['card1'].isin(valid_card), train_df['card1'], np.nan)
test_df['card1']  = np.where(test_df['card1'].isin(valid_card), test_df['card1'], np.nan)

In [7]:
train_df.head(3)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,800657,13926.0,NaN,150.0,9524.0,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,800657,2755.0,404.0,150.0,347386.0,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,800657,4663.0,490.0,150.0,719649.0,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
########################### Freq encoding
i_cols = ['card1','card2','card3','card5',
          'C1','C2','C3','C4','C5','C6','C7','C8','C9','C10','C11','C12','C13','C14',
          'D1','D2','D3','D4','D5','D6','D7','D8','D9',
          'addr1','addr2',
          'dist1','dist2',
          'P_emaildomain', 'R_emaildomain'
         ]

for col in i_cols:
    temp_df = pd.concat([train_df[[col]], test_df[[col]]])
    fq_encode = temp_df[col].value_counts().to_dict()   
    train_df[col+'_fq_enc'] = train_df[col].map(fq_encode)
    test_df[col+'_fq_enc']  = test_df[col].map(fq_encode)

In [10]:
########################### ProductCD and M4 Target mean
for col in ['ProductCD','M4']:
    temp_dict = train_df.groupby([col])[TARGET].agg(['mean']).reset_index().rename(
                                                        columns={'mean': col+'_target_mean'})
    temp_dict.index = temp_dict[col].values
    temp_dict = temp_dict[col+'_target_mean'].to_dict()

    train_df[col+'_target_mean'] = train_df[col].map(temp_dict)
    test_df[col+'_target_mean']  = test_df[col].map(temp_dict)

In [14]:
########################### Encode Str columns
for col in list(train_df):
    if train_df[col].dtype=='O':
        print(col)
        train_df[col] = train_df[col].fillna('unseen_before_label')
        test_df[col]  = test_df[col].fillna('unseen_before_label')
        
        train_df[col] = train_df[col].astype(str)
        test_df[col] = test_df[col].astype(str)
        
        le = LabelEncoder()
        le.fit(list(train_df[col])+list(test_df[col]))
        train_df[col] = le.transform(train_df[col])
        test_df[col]  = le.transform(test_df[col])
        
        train_df[col] = train_df[col].astype('category')
        test_df[col] = test_df[col].astype('category')

P_emaildomain
R_emaildomain

In [15]:
########################### Model Features 
## We can use set().difference() but order matters
rm_cols = [
    'TransactionID','TransactionDT',TARGET,
]
features_columns = list(train_df)
for col in rm_cols:
    if col in features_columns:
        features_columns.remove(col)

In [16]:
########################### Model params
lgb_params = {
                    'objective':'binary',
                    'boosting_type':'gbdt',
                    'metric':'auc',
                    'n_jobs':-1,
                    'learning_rate':0.01,
                    'num_leaves': 2**8,
                    'max_depth':-1,
                    'tree_learner':'serial',
                    'colsample_bytree': 0.7,
                    'subsample_freq':1,
                    'subsample':1,
                    'n_estimators':800,
                    'max_bin':255,
                    'verbose':-1,
                    'seed': SEED,
                    'early_stopping_rounds':100, 
                }

In [18]:
########################### Model
import lightgbm as lgb

def make_predictions(tr_df, tt_df, features_columns, target, lgb_params, NFOLDS=2):
    folds = KFold(n_splits=NFOLDS, shuffle=True, random_state=SEED)

    X,y = tr_df[features_columns], tr_df[target]    
    P,P_y = tt_df[features_columns], tt_df[target]  

    tt_df = tt_df[['TransactionID',target]]    
    predictions = np.zeros(len(tt_df))
    
    for fold_, (trn_idx, val_idx) in enumerate(folds.split(X, y)):
        print('Fold:',fold_)
        tr_x, tr_y = X.iloc[trn_idx,:], y[trn_idx]
        vl_x, vl_y = X.iloc[val_idx,:], y[val_idx]
            
        print(len(tr_x),len(vl_x))
        tr_data = lgb.Dataset(tr_x, label=tr_y)

        if LOCAL_TEST:
            vl_data = lgb.Dataset(P, label=P_y) 
        else:
            vl_data = lgb.Dataset(vl_x, label=vl_y)  

        estimator = lgb.train(
            lgb_params,
            tr_data,
            valid_sets = [tr_data, vl_data],
            verbose_eval = 200,
        )   
        
        pp_p = estimator.predict(P)
        predictions += pp_p/NFOLDS

        if LOCAL_TEST:
            feature_imp = pd.DataFrame(sorted(zip(estimator.feature_importance(),X.columns)), columns=['Value','Feature'])
            print(feature_imp)
        
        del tr_x, tr_y, vl_x, vl_y, tr_data, vl_data
        gc.collect()
        
    tt_df['prediction']  = predictions
    
    return tt_df
## -------------------

In [19]:
########################### Model Train
if LOCAL_TEST:
    test_predictions = make_predictions(train_df, test_df, features_columns, TARGET, lgb_params)
    print(metrics.roc_auc_score(test_predictions[TARGET], test_predictions['prediction']))
else:
    lgb_params['learning_rate'] = 0.01
    lgb_params['n_estimators'] = 800
    lgb_params['early_stopping_rounds'] = 100    
    test_predictions = make_predictions(train_df, test_df, features_columns, TARGET, lgb_params, NFOLDS=2)

Fold: 0
295270 295270
Training until validation scores don't improve for 100 rounds.
[200]	training's auc: 0.962596	valid_1's auc: 0.933436
[400]	training's auc: 0.988535	valid_1's auc: 0.952704
[600]	training's auc: 0.995395	valid_1's auc: 0.959269
[800]	training's auc: 0.997759	valid_1's auc: 0.962009
Did not meet early stopping. Best iteration is:
[800]	training's auc: 0.997759	valid_1's auc: 0.962009
Fold: 1
295270 295270
Training until validation scores don't improve for 100 rounds.
[200]	training's auc: 0.963367	valid_1's auc: 0.928108

KeyboardInterrupt:

In [20]:
########################### Export
if not LOCAL_TEST:
    test_predictions['isFraud'] = test_predictions['prediction']
    test_predictions[['TransactionID','isFraud']].to_csv('submission.csv', index=False)

NameError: name 'test_predictions' is not defined